.logo{
    font-family:gotham;
    color: white;
    font-weight: 500;

}

.button{
    font-family: gotham;
}


.add{
    font-weight: 600;
    font-family: gotham;
}

.c{
    font-family:Satisfy;
}
